body{
  background-color: #404040;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}





.divo{
  border-radius: 10px;
  background:steelblue;
  width: 24rem;
  height: 24rem;
}

.div1{
  background-image: url(../image/How-to-Use-Carl-Bots-for-Roles-on-Discord.png);
  background-size:cover;
  width: 24rem;
  height: 12rem;
}

.Testa{

  position:relative;
  bottom: 500px;
}

h1{
  text-align: center;
  margin-top: 0px;
  color: black;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 50px;
  font-style: italic;
  bottom: 200px;
  padding: 200px;
}


li{
  color: whitesmoke;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.test-image{
  width: 200px;
  border-radius: 2px 16px;
}


li{
  font-size: .875rem;
  line-height: 1.25rem;
  list-style:none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover{
  color: blue;
}

header{
  position: relative;
  padding: 0 5rem;
}




